[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
firebase-admin = "*"
pyrebase4 = "*"
requests = "*"
tree-sitter = "*"
tree-sitter-python = "*"
pymongo = "*"
tree-sitter-javascript = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
